trigger: none

pool:
  vmImage: ubuntu-latest

stages:
- stage: validate
  jobs:
  - job: Compliance
    displayName: 'Run Terrascan'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: |
        curl --location https://github.com/accurics/terrascan/releases/download/v1.4.0/terrascan_1.4.0_Linux_x86_64.tar.gz --output terrascan.tar.gz
        tar -xvf terrascan.tar.gz
        sudo install terrascan /usr/local/bin
      displayName: 'Download tool'

    - script: |
        terrascan scan --directory ./ --output junit-xml > $(System.DefaultWorkingDirectory)/Terrascan-Report.xml

      displayName: 'Run Terrascan'
