trigger: none

pool:
  vmImage: ubuntu-latest
variables:
- name: PAT  # Define your PAT variable
  value: $(PAT_Terrascan)

stages:
- stage: validate
  jobs:
  - job: Compliance
    displayName: 'Run Terrascan'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: |
        curl --location https://github.com/accurics/terrascan/releases/download/v1.4.0/terrascan_1.4.0_Linux_x86_64.tar.gz --output terrascan.tar.gz
        tar -xf terrascan.tar.gz terrascan && rm terrascan.tar.gz
        sudo install terrascan /usr/local/bin && rm terrascan
        terrascan
      displayName: 'Download tool'

    - script: |
        terrascan scan
        terrascan scan --directory ./
        if [ $TERRASCAN_EXIT_CODE -eq 0 ]; then
          echo "Terrascan scan passed successfully."
        else
          echo "Terrascan scan failed with violations."
        fi
        exit $TERRASCAN_EXIT_CODE
      displayName: 'Run Terrascan'
