name: Use Shared Workflow

on:
  push:
    branches:
      - main

jobs:
  my_job:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Shared Workflow
        uses: actions/checkout@v2
      - name: Dispatch Shared Workflow
        run: |
          curl -XPOST -H "Authorization: token ${{ secrets.workflow }}" \
               -H "Accept: application/vnd.github.everest-preview+json" \
               https://api.github.com/repos/Prasanna-source31/Test/dispatches \
               -d '{"event_type": "trigger-shared-workflow"}'
